@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
* {
    font-size: 12px;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

body{
    background-color: #FBC10D;
}

.container{ 
    justify-content: center;    
}

.nav-element{
    margin-left: 92px;
    margin-right: 92px;
    }


.botao{
    background-color: #171606;
    width: 300px;
    height: 320px;
    border-radius: 20px;
}

.img-button{
    align-items: center;
    display: flex;
}

section{
    float: left;
    margin-right: 3rem;
    padding: 1rem;
    /* justify-items: center;     */
    /* align-items: center;
    display: flex; */
}

a{
    text-decoration: none;
}


.button{
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.button button{
    background-color: #FBC10D;
    color: black;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 0.75rem;
    /* padding-inline: 10px; */
    font-size: 24px;
    height: 39px;
    width: 244px;
}
