@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
* {
    font-size: 12px;
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #FBC10D;
}

.container{
    margin-top: 100px;
    width: 435px;
    height: 443px;
    background-color: #171606;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.box{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 400px;
    height: 420px;
    display: flex;
    flex-direction: row;
}

h2{
    color: #ffffff;
    font-size: 6rem;
    font-family: 'Questrial', sans-serif;}

h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 400px;
    left: 0;
    border-radius: 8px;
    background: #ffffff;
}