@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: 0;
    font-weight: 100;
    font-size: 12px;
    font-family: 'Questrial', sans-serif;
}

body{
    background-color: #FBC10D;
    color: #000000;
}

main{
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.back{
    display: flex;
    justify-content: end;
    width: auto;
    padding-top: 2rem;
    padding-right: 6%;
}

.box{
    width: 435px;
    height: 520px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: -5rem;
}

.form-header{
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 0 2rem 0;
}

h2{
    color: #ffffff;
    font-size: 3.5rem;
}


.input-box{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.input-box img{
    width: 4rem;
    height: 4rem;
    justify-content: center;
}

input {
    padding: 0.8rem;
    width: 22rem;
    height: 3rem;
    border: none;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 1.3rem;
    background-color: #FBC10D;   
}

.elemento{
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

button{
    background-color: #FBC10D;
    width: 160.45px;
    height: 34.59px;
    display: inline-block;
    font-size: 1.5rem;
    color: black;
    justify-content: center;
    transition: 0.3s;
}

button:hover{
    background-color: #ffffff;
}

a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.4s;
}

a:hover{
    color: #FBC10D;
}

.form-footer{
    padding: -0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkbox input{
  display: none;
}

.checkbox label{
    color: #ffffff;
    cursor: pointer;
    font-size: 1.3rem;
}

.checkbox input + label:before {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 4px;
  /* background-color: white; */
  border: 1px solid gray;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 3px;
}

.checkbox input:checked + label:before {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #C53200;
  background-position: center;
  border: none;
  padding: 1px;
}

.modal, .termos{
    z-index:1;
    position: fixed;
    top:0;
    left:0;
    padding:0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0.25s ease-in-out , opacity 0.25s ease-in-out, transform 0.25s ease-in-out;  
}

.show-modal, .show-termos{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);    
}


.modal-content, .termos-content{
    background-color: #FBC10D;
    padding: 16px 24px;    
    width: 384px;
    border-radius: 0.5rem;
}
.close-button{
   float: right;
   width: 24px;
   line-height: 24px;
   text-align: center;
   cursor: pointer;
   border-radius: 0.25rem;
   background-color: transparent;
   border: 2px solid black;
}
.close-button:hover{
    background-color: black;
} 

.modal-content h1, .termos-content h1{
    color: black;
    font-size: 20px;
    font-weight: 200;
}

.modal-content h2, .termos-content h2{
    padding: 2rem;
    font-size: 17px;
    color: black;
}

.modal-content a, .termos-content a{
    color: black;
}

.modal-content a:hover, .termos-content a:hover{
    color: #FBC10D;
}


@media (max-width: 400px) {
    .box{
        width: 350px;
    }
    
    input{
        width: 19rem;
    }
   
    button{
        width: 140px;
    }
    
    .elemento{
        padding:0rem;
    }
}


@media (max-width: 360px) {
    .box{
        width: 300px;
    }
    
   
    
    input{
        width: 15rem;
    }
}



div{
  /*color:#90011e;*/
  /* padding-top: 5px; */
	font-size: 13px;
}

div#div_usuaNome{
  display: flex;
  justify-content: center;
  color:#90011e;
}