a{
   color: #ffffff;
}

.navbar{
    background: rgb(0, 0, 0);
    width: 100%;
    height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}


.navbar .navbar_center img{
    width: 13rem;
}

.navbar .navbar_right img, .navbar_left img{
    width: 2rem;
}

.navbar .navbar_right .icon_wrap{
    cursor: pointer;
}

.navbar .navbar_right .profile{
    position: relative;
}

.navbar .profile .profile_dd{
    position: absolute;
    top: 48px;
    right: -15px;
    background: rgba(0, 0, 0, 0.80);
    height: auto;
    display: none;
}

.navbar .profile .profile_dd .profile_ul{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.navbar .navbar_right .profile .icon_wrap{
    display: flex;
    align-items: center;
}

.navbar .navbar_right .profile .icon{
    display: inline-block;
    margin: 0 10px;
}

.navbar .profile .profile_dd{
    width: 225px;
}

.navbar .profile .profile_dd ul li {
    border-bottom: 1px solid #dcdde08a;
}

.navbar .profile .profile_dd ul li  a{
    display: block;
    padding: 15px 35px;
    position: relative;
    font-size: 17px;
    transition: 0.6s;
}

.navbar .profile .profile_dd ul li  a:hover{
    color: #FBC10D;
}

.navbar .profile.active .profile_dd{
    display: block;
}

button{
    cursor: pointer;
}
  
/*Webkit*/
input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}

img[alt="www.000webhost.com"]{
    display: none;
}


input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}