/* Importar a fonte */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: 0;
    font-weight: 100;
    font-size: 12px;
    font-family: 'Questrial', sans-serif;
}

/* Definição da página */
body{
    background-color: #FBC10D;
    color: #000000;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem;
}

/* Div de retorno */
.back{
    display: flex;
    justify-content: flex-end;
    width: auto;
    padding-top: 2rem;
    padding-right: 6%;
}

/* Caixa do formulário */
.box{
    width: 435px;
    height: 300px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-top: -5rem;
}

/* Cabeçalho do formulário */
.form-header{
    display: flex;
    align-self: flex-start;
    padding: 0.5rem 0 2rem 0;
}

h2{
    color: #ffffff;
    font-size: 3.5rem;
}

/* Caixa do Input + Imagem */
.input-box{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.input-box img{
    width: 4rem;
    height: 4rem;
    justify-content: center;
}

input {
    padding: 0.8rem;
    width: 22rem;
    height: 3rem;
    border: none;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 1.3rem;
    background-color: #FBC10D;   
}

/* Itens da caixa */
.elemento{
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

button{
    background-color: #FBC10D;
    width: 160.45px;
    height: 34.59px;
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'Questrial', sans-serif;
    color: rgba(0, 0, 0, 0.60);
    justify-content: center;
}

button:hover, button.cancel:hover{
    background-color: #ffffff;
}

button.cancel{
    background-color: #C53200;
}

/* Footer do formulário */
.form-footer{
    text-align: center;
    margin-top: 1rem;
}

.form-footer button{
    margin: 1rem;
} 


/* Responsividade */
@media (max-width: 540px) {
    .box{
        width: 400px;
        height: 300px;
    }
    
    input{
        width: 21rem;
    }
    
    h2{
        font-size: 3rem;
    }
    
    button{
        width: 140px;
    }
    
    .elemento{
        padding:0rem;
    }
}


@media (max-width: 400px) {
    .box{
        width: 350px;
        height: 300px;
    }
    
    input{
        width: 19rem;
    }
    
    h2{
        font-size: 3rem;
    }
    
    button{
        width: 140px;
    }
    
    .elemento{
        padding:0rem;
    }
}


@media (max-width: 360px) {
    .box{
        width: 300px;
        height: 300px;
    }
    
    h2{
        font-size: 2rem;
    }
    
    input{
        width: 15rem;
    }
}