/* Importar a fonte */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: 0;
    font-weight: 100;
    font-size: 12px;
    font-family: 'Questrial', sans-serif;
}

i{color: black;}

/*Definição da página*/
body{
    background-color: #000000;
    color: #ffffff;
}

a{
    font-size: 1.5rem;
    font-family: 'Questrial', sans-serif;
    color: rgba(0, 0, 0, 0.60);
    cursor: pointer;
    border-radius: 14px;   
    text-decoration:none;
}

main{
    height: 70vh;
    margin-left: 6%;
    margin-right: 6%;
} 

/*Navbar*/
.navbar{
    background: #FBC10D;
    width: 100%;
    height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    color: #FBC10D;
}

.navbar .navbar_center img{
    width: 13rem;
}

.navbar .navbar_right img, .navbar_left img{
    width: 2rem;
}

.navbar .navbar_right .icon_wrap{
    cursor: pointer;
}

.navbar .navbar_right .profile{
    position: relative;
}

.navbar .profile .profile_dd{
    position: absolute;
    top: 48px;
    right: -15px;
    background: #fbbf0d83;
    height: auto;
    display: none;
}

.navbar .profile .profile_dd .profile_ul{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.navbar .navbar_right .profile .icon_wrap{
    display: flex;
    align-items: center;
}

.navbar .navbar_right .profile .icon{
    display: inline-block;
    margin: 0 10px;
}

.navbar .profile .profile_dd{
    width: 225px;
    background: #fbbf0def;
}

.navbar .profile .profile_dd ul li {
    border-bottom: 1px solid black;
    color: white;
}

.navbar .profile .profile_dd ul li  a{
    display: block;
    padding: 15px 35px;
    position: relative;
    font-size: 17px;
    transition: 0.3s;
}

.navbar .profile .profile_dd ul li  a:hover{
    color: white;
}

.navbar .profile.active .profile_dd{
    display: block;
}
/*Fim da Navbar*/

/* Cabeçalho do formulário */
.form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2%;
    margin-bottom: 1rem;
}

.form-header h3{
    color: white;
    font-size: 45px;
    font-family: 'Girassol', sans-serif;
}

.form-header h4{
    color: white;
    font-size: 35px;
    font-family: 'Girassol', sans-serif;
}

/* Div de retorno */
.back{
    display: flex;
    justify-content: end;
    width: auto;
    padding-top: 2rem;
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FBC10D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Fim do Switch */


/* Corpo do formulário */
.form-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Colunas */
.col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Caixas de informações */
.infos-motor, .infos-auto, .inputs{
    border: 2px solid white;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
}

.inputs{
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

p{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}


button{
    background-color: #FBC10D;
    width: 160.45px;
    height: 34.59px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Questrial', sans-serif;
    color: black;
    margin: 20px;
    cursor: pointer;
    border-radius: 1rem;
    transition: 0.3s;
}

button:hover{
    background-color: white;
}

.botoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Remover marca d'água*/
img[alt="www.000webhost.com"]{
    display: none;
}
